body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    background-color: #eedac2;
    color: #d16644;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

p {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

#autumn {
    background-color: #e5a88b;
    color: white;
}

#autumn:hover {
    background-color: #ccb3b9;
}

#tikka {
    background-color: #cf9683;
    color: black;
}

#tikka:hover {
    background-color: #ccb3b9;
}

#veg {
    background-color: #878f84;
    color: white;
}

#veg:hover {
    background-color: #ccb3b9;
}

h1, #autumn, #tikka, #veg {
    border-radius: 5px;
    padding: 5px 25px;
}

img {
    border-radius: 10px;
}